<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.aa.milab.mapper.AttendMapper">
<insert id="empClockIn">
INSERT INTO attendance(empId,empStatus,workDate,clockIn) 
VALUES (#{empId},'出勤',#{workDate},#{date});
</insert>
<update id="empClockOut">
UPDATE attendance
SET clockOut = #{date},empStatus='退勤',worksHrs=#{workTime}
WHERE empId = #{empId} and workDate=#{workDate};
</update>
<select id="empCheck" resultType="Integer">
SELECT attendId FROM attendance WHERE empId = #{empId} AND workDate = #{workDate}
</select>
<select id="empOutCheck" resultType="String">
SELECT clockOut FROM attendance WHERE empId = #{empId} AND workDate = #{workDate}
</select>
<select id="empInCheck" resultType="String">
SELECT clockIn FROM attendance WHERE empId = #{empId} AND workDate = #{workDate}
</select>

<!--<select id="empInCheck" resultType="Attendance">-->
<!--SELECT attendId,TIME_FORMAT(clockIn,'%H:%i') AS clockIn,TIME_FORMAT(clockOut,'%H:%i') AS clockOut FROM attendance WHERE empId = #{empId} AND workDate = #{workDate}-->
<!--</select>-->
<update id="empClockUpdate">
UPDATE attendance
SET clockIn = #{clockIn},clockOut = #{clockOut}
WHERE attendId = #{attendId}
</update>
<delete id="empClockDelete">
DELETE FROM attendance WHERE attendId = #{attendId}
</delete>
</mapper>